<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleRecetas.css">
    <title>Receta Tacos De Coliflor Con Salsa De Aguacate Y Cilantro</title>
</head>
<body>
    <div class="contenedor-principal">
        <header class="encabezado">
            <a href="../index.html">
                <img class="logo" src="../assets/logo_bitcook.png" alt="Logo BitCook">
            </a>
            <a class="link-encabezado" href="./formulario.html">Envia Tú Receta...</a>
            <button class="btn-activar-modo-oscuro"><img class="img-modoOscuro" src="../assets/luna.svg" alt="Boton modo Oscuro"></button>
        </header>
        <nav>
            <main>
                <article class="contenedor-info-principal">
                    <figure class="contenedor-imagen">
                        <img class="img-ensalada" src="../assets/tacosColiflor.webp" alt="Imagen Tacos De Coliflor Con Salsa De Aguacate Y Cilantro">
                    </figure>
                    <div class="contenedor-info-secundario">
                        <div class="contenedor-info-encabezado contedor-info">
                            <h1 class="titulo-contenido-principal">Tacos De Coliflor Con Salsa De Aguacate Y Cilantro</h1>
                            <p class="parrafo-contenido-principal">Los Tacos de Coliflor con Salsa de Aguacate y Cilantro son una opción deliciosa y saludable para quienes buscan una alternativa vegetariana. La coliflor se sazona y se hornea hasta quedar crujiente, luego se sirve en tortillas suaves con una salsa fresca de aguacate y cilantro, creando un plato lleno de sabor y textura.</p>
                        </div>
                        <div class="contenedor-info-tiempo-preparacion contedor-info">
                            <div class="contenido-info-tiempo-preparacion">
                                <h3 class="sub-titulo-tiempo-preparacion">Tiempo de Preparación:</h3>
                                <ul class="lista-tiempo-preparacion">
                                    <li>Preparación de ingredientes: 15 minutos</li>
                                    <li>Cocción: 25 minutos</li>
                                    <li>Tiempo total: 40 minutos</li>
                                </ul>
                            </div>
                        </div>
                        <div class="contenedor-info-preparacion contedor-info">
                            <h2 class="sub-titulo-preparacion">Preparación:</h2>
                            <ol class="lista-preparacion">
                                <li class="principal">Preparar la coliflor:</li>
                                <ul>
                                    <li>Precalienta el horno a 200°C (400°F). En un tazón grande, mezcla los floretes de coliflor con el aceite de oliva, comino, pimentón, ajo en polvo, sal y pimienta. Distribuye los floretes en una bandeja para hornear y hornea durante 25 minutos, o hasta que estén dorados y tiernos.</li>
                                </ul>
                                <li class="principal">Preparar la salsa:</li>
                                <ul>
                                    <li>Mientras la coliflor se hornea, en una licuadora o procesador de alimentos, combina el aguacate, cilantro, ajo, jugo de limón, agua y sal. Procesa hasta obtener una salsa suave. Si está muy espesa, agrega un poco más de agua hasta alcanzar la consistencia deseada.</li>
                                </ul>
                                <li class="principal">Montar los tacos:</li>
                                <ul>
                                    <li>Calienta las tortillas de maíz. Coloca algunos floretes de coliflor en cada tortilla y cubre con la salsa de aguacate y cilantro. Sirve inmediatamente.</li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </article>
                <aside class="contenedor-aside">
                    <div class="contenedor-nutricional">
                        <div class="contenedor-ingredientes">
                            <h2 class="sub-titulo-ingredientes">Ingredientes:</h2>
                            <ol class="lista-ingredientes">
                                <li class="principal">Para los tacos:</li>
                                <ul>
                                    <li>1 cabeza de coliflor, cortada en floretes</li>
                                    <li>2 cucharadas de aceite de oliva</li>
                                    <li>1 cucharadita de comino molido</li>
                                    <li>1 cucharadita de pimentón</li>
                                    <li>1/2 cucharadita de ajo en polvo</li>
                                    <li>Sal y pimienta al gusto</li>
                                    <li>8 tortillas de maíz</li>
                                </ul>
                                <li class="principal">Para la salsa de aguacate y cilantro:</li>
                                <ol>
                                    <li>1 aguacate maduro</li>
                                    <li>1/2 taza de cilantro fresco, picado</li>
                                    <li>1 diente de ajo</li>
                                    <li>Jugo de 1 limón</li>
                                    <li>1/4 taza de agua</li>
                                    <li>Sal al gusto</li>
                                </ol>
                            </ol>
                        </div>
                        <div class="contenido-nutricional">
                            <h2 class="sub-titulo-contenido-nutricional">Valor Nutricional</h2>
                            <table>
                                <tr>
                                  <td>Calorias</td>
                                  <td>180kcal</td>
                                <tr>
                                  <td>Carbohidratos</td>
                                  <td>25g</td>
                                </tr>
                                <tr>
                                  <td>Proteinas</td>
                                  <td>4g</td>
                                </tr>
                                </tr>
                                <tr>
                                  <td>Grasas</td>
                                  <td>8g</td>
                                </tr>
                              </table>
                        </div>
                    </div>
                    <div class="contenedor-otros">
                        <h2 class="titulo-mas-recetas">Más Recetas</h2>
                        <a href="./vistaRisottoDeBetabel.html">
                            <div class="receta">
                                <div class="contenedor-imagen-receta">
                                    <img class="imagen-receta" src="../assets/RisottoDeBetabelYQuesoDeCabra.jpeg" alt="Risotto de Betabel y Queso de Cabra">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Risotto de Betabel y Queso de Cabra</h3>
                                    <p class="texto-receta">Es un plato cremoso con un color vibrante, donde el dulzor del betabel se equilibra con la acidez del queso de cabra.</p>
                                </div>
                            </div>
                        </a>
                        <a href="./vistaPastaDeCalabacin.html">
                            <div class="receta">
                                <div class="contenedor-imagen-receta">
                                    <img class="imagen-receta"  src="../assets/espaguetis.jpeg" alt="Pasta de Calabacín con Pesto de Albahaca y Almendras">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Pasta de Calabacín con Pesto de Albahaca y Almendras</h3>
                                    <p class="texto-receta">Espirales de calabacín con pesto casero de albahaca y almendras, una opción ligera y sin gluten.</p>
                                </div>
                            </div>
                        </a>
                        <a href="./vistaRamenDePollo.html">
                            <div class="receta-ultima">
                                <div class="contenedor-imagen-receta">
                                <img class="imagen-receta"  src="../assets/ramenConPollo.jpeg" alt="Ramen de Pollo con Jengibre y Ajo">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Ramen de Pollo con Jengibre y Ajo</h3>
                                    <p class="texto-receta">Ramen casero con un caldo sabroso, trozos de pollo, jengibre, ajo, y vegetales frescos.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </aside>
            </main>
        </nav>
        <footer>
            <div class="contenido-footer">
                <a href="../index.html">
                    <img class="logo" src="../assets/logo_bitcook.png" alt="Logo BitCook">
                </a>
                <img class="img-copyright" src="../assets/copyright.png" alt="Copyright">
            </div>
        </footer>
    </div>
</body>
</html>