<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleRecetas.css">
    <title>Receta Ramen De Pollo Con Jengibre Y Ajo</title>
</head>
<body>
    <div class="contenedor-principal">
        <header class="encabezado">
            <a href="../index.html">
                <img class="logo" src="../assets/logo_bitcook.png" alt="Logo BitCook">
            </a>
            <a class="link-encabezado" href="./formulario.html">Envia Tú Receta...</a>
            <button class="btn-activar-modo-oscuro"><img class="img-modoOscuro" src="../assets/luna.svg" alt="Boton modo Oscuro"></button>
        </header>
        <nav>
            <main>
                <article class="contenedor-info-principal">
                    <figure class="contenedor-imagen">
                        <img class="img-ensalada" src="../assets/ramenConPollo.jpeg" alt="Imagen Receta Ramen De Pollo Con Jengibre Y Ajo">
                    </figure>
                    <div class="contenedor-info-secundario">
                        <div class="contenedor-info-encabezado contedor-info">
                            <h1 class="titulo-contenido-principal">Ramen De Pollo Con Jengibre Y Ajo</h1>
                            <p class="parrafo-contenido-principal">Este ramen es una deliciosa y reconfortante sopa japonesa, ideal para los días fríos o cuando se busca algo nutritivo. La base es un caldo rico y aromático, infusionado con jengibre y ajo, que le da un toque picante y profundo. El pollo se cocina hasta quedar tierno, y se complementa con fideos de ramen, huevo, y vegetales frescos, creando un plato balanceado y lleno de sabor.</p>
                        </div>
                        <div class="contenedor-info-tiempo-preparacion contedor-info">
                            <div class="contenido-info-tiempo-preparacion">
                                <h3 class="sub-titulo-tiempo-preparacion">Tiempo de Preparación:</h3>
                                <ul class="lista-tiempo-preparacion">
                                    <li>Preparación de ingredientes: 15 minutos</li>
                                    <li>Cocción: 30 minutos</li>
                                    <li>Tiempo total: 45 minutos</li>
                                </ul>
                            </div>
                        </div>
                        <div class="contenedor-info-preparacion contedor-info">
                            <h2 class="sub-titulo-preparacion">Preparación:</h2>
                            <ol class="lista-preparacion">
                                <li class="principal">Preparar el caldo:</li>
                                <ul>
                                    <li>En una olla grande, calienta el caldo de pollo a fuego medio. Añade las rodajas de jengibre y ajo, la salsa de soya, y el mirin. Deja que el caldo hierva a fuego lento durante 15 minutos para que los sabores se mezclen.</li>
                                </ul>
                                <li class="principal">Cocinar el pollo:</li>
                                <ul>
                                    <li>Añade las pechugas de pollo al caldo y cocina a fuego lento durante 15 minutos o hasta que el pollo esté cocido. Retira el pollo, desmenúzalo y resérvalo.</li>
                                </ul>
                                <li class="principal">Cocinar los fideos:</li>
                                <ul>
                                    <li>Mientras tanto, cocina los fideos de ramen según las instrucciones del paquete. Escúrrelos y divídelos en dos tazones grandes.</li>
                                </ul>
                                <li class="principal">Montar el ramen:</li>
                                <ul>
                                    <li>Añade el pollo desmenuzado a los tazones con los fideos. Vierte el caldo caliente encima, asegurándote de repartir el jengibre y el ajo. Agrega las espinacas, la zanahoria, y el huevo partido por la mitad. Decora con cebollines y un chorrito de aceite de sésamo si lo deseas.
                                    </li>
                                </ul>
                                <li class="principal">Servir:</li>
                                <ul>
                                    <li>Ajusta el sazón con sal y pimienta al gusto, y sirve el ramen bien caliente.</li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </article>
                <aside class="contenedor-aside">
                    <div class="contenedor-nutricional">
                        <div class="contenedor-ingredientes">
                            <h2 class="sub-titulo-ingredientes">Ingredientes:</h2>
                            <ol class="lista-ingredientes">
                                <li class="principal"></li>
                                <ul>
                                    <li>2 pechugas de pollo sin piel y sin hueso</li>
                                    <li>4 tazas de caldo de pollo</li>
                                    <li>1 trozo de jengibre fresco (unos 5 cm), pelado y en rodajas</li>
                                    <li>4 dientes de ajo, en rodajas finas</li>
                                    <li>2 cucharadas de salsa de soya</li>
                                    <li>2 cucharadas de mirin (vino de arroz)</li>
                                    <li>200 g de fideos de ramen</li>
                                    <li>2 huevos, cocidos y pelados</li>
                                    <li>1 taza de espinacas frescas</li>   
                                    <li>2 cebollines, en rodajas finas</li>
                                    <li>1 zanahoria, en juliana</li>
                                    <li>1 cucharada de aceite de sésamo (opcional)</li>
                                    <li>Sal y pimienta al gusto</li>
                                </ul>
                            </ol>
                        </div>
                        <div class="contenido-nutricional">
                            <h2 class="sub-titulo-contenido-nutricional">Valor Nutricional</h2>
                            <table>
                                <tr>
                                  <td>Calorias</td>
                                  <td>450kcal</td>
                                <tr>
                                  <td>Carbohidratos</td>
                                  <td>50g</td>
                                </tr>
                                <tr>
                                  <td>Proteinas</td>
                                  <td>35g</td>
                                </tr>
                                </tr>
                                <tr>
                                  <td>Grasas</td>
                                  <td>15g</td>
                                </tr>
                              </table>
                        </div>
                    </div>
                    <div class="contenedor-otros">
                        <h2 class="titulo-mas-recetas">Más Recetas</h2>
                        <a href="./vistaTacosDeColiflor.html">
                            <div class="receta">
                                <div class="contenedor-imagen-receta">
                                    <img class="imagen-receta" src="../assets/tacosColiflor.webp" alt="Tacos de Coliflor con Salsa de Aguacate y Cilantro">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Tacos de Coliflor con Salsa de Aguacate y Cilantro</h3>
                                    <p class="texto-receta">Tacos vegetarianos crujientes con coliflor asada y una salsa cremosa de aguacate y cilantro.</p>
                                </div>
                            </div>
                        </a>
                        <a href="./vistaHamburguesaDeQuinoa.html">
                            <div class="receta">
                                <div class="contenedor-imagen-receta">
                                    <img class="imagen-receta"  src="../assets/HamburguesaDeQuinoaYGarbanzos.jpeg" alt="Hamburguesa De Quinoa Y Garbanzos">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Hamburguesa De Quinoa Y Garbanzos</h3>
                                    <p class="texto-receta">Hamburguesa de Quinoa y Garbanzos: una opción vegetariana nutritiva, rica en proteínas y fibra.</p>
                                </div>
                            </div>
                        </a>
                        <a href="./vistaPastaDeCalabacin.html">
                            <div class="receta-ultima">
                                <div class="contenedor-imagen-receta">
                                <img class="imagen-receta"  src="../assets/espaguetis.jpeg" alt="Pasta de Calabacín con Pesto de Albahaca y Almendras">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Pasta de Calabacín con Pesto de Albahaca y Almendras</h3>
                                    <p class="texto-receta">Espirales de calabacín con pesto casero de albahaca y almendras, una opción ligera y sin gluten.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </aside>
            </main>
        </nav>
        <footer>
            <div class="contenido-footer">
                <a href="../index.html">
                    <img class="logo" src="../assets/logo_bitcook.png" alt="Logo BitCook">
                </a>
                <img class="img-copyright" src="../assets/copyright.png" alt="Copyright">
            </div>
        </footer>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>