<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleRecetas.css">
    <title>Receta Hamburguesa De Quinoa Y Garbanzos</title>
</head>
<body>
    <div class="contenedor-principal">
        <header class="encabezado">
            <a href="../index.html">
                <img class="logo" src="../assets/logo_bitcook.png" alt="Logo BitCook">
            </a>
            <a class="link-encabezado" href="./formulario.html">Envia Tú Receta...</a>
            <button class="btn-activar-modo-oscuro"><img class="img-modoOscuro" src="../assets/luna.svg" alt="Boton modo Oscuro"></button>
        </header>
        <nav>
            <main>
                <article class="contenedor-info-principal">
                    <figure class="contenedor-imagen">
                        <img class="img-ensalada" src="../assets/HamburguesaDeQuinoaYGarbanzos.jpeg" alt="Imagen Hamburguesa De Quinoa Y Garbanzos">
                    </figure>
                    <div class="contenedor-info-secundario">
                        <div class="contenedor-info-encabezado contedor-info">
                            <h1 class="titulo-contenido-principal">Hamburguesa De Quinoa Y Garbanzos</h1>
                            <p class="parrafo-contenido-principal">La hamburguesa de quinoa y garbanzos es una alternativa vegetariana nutritiva y deliciosa, que combina la proteína de la quinoa con la cremosidad de los garbanzos. Es perfecta para una comida saludable y saciante.</p>
                        </div>
                        <div class="contenedor-info-tiempo-preparacion contedor-info">
                            <div class="contenido-info-tiempo-preparacion">
                                <h3 class="sub-titulo-tiempo-preparacion">Tiempo de Preparación:</h3>
                                <ul class="lista-tiempo-preparacion">
                                    <li>Preparación de ingredientes: 15 minutos</li>
                                    <li>Cocción: 20 minutos</li>
                                    <li>Tiempo total: 35 minutos</li>
                                </ul>
                            </div>
                        </div>
                        <div class="contenedor-info-preparacion contedor-info">
                            <h2 class="sub-titulo-preparacion">Preparación:</h2>
                            <ol class="lista-preparacion">
                                <li class="principal">Cocinar la quinoa:</li>
                                <ul>
                                    <li>Enjuaga la quinoa bajo agua fría.</li>
                                    <li>Coloca la quinoa en una cacerola con 2 tazas de agua. Lleva a ebullición, reduce el fuego y cocina a fuego lento durante 15 minutos, o hasta que el agua se absorba y la quinoa esté esponjosa. Deja enfriar.</li>
                                </ul>
                                <li class="principal">Preparar la mezcla de garbanzos:</li>
                                <ul>
                                    <li>En un procesador de alimentos, tritura los garbanzos hasta obtener una mezcla ligeramente grumosa.</li>
                                    <li>Añade la quinoa cocida, la cebolla, el ajo, el perejil, el comino, el pimentón, la sal y la pimienta. Procesa brevemente para mezclar bien los ingredientes.</li>
                                </ul>
                                <li class="principal">Formar las hamburguesas:</li>
                                <ul>
                                    <li>Transfiere la mezcla a un bol y añade el pan rallado. Mezcla hasta que todo esté bien integrado.</li>
                                    <li>Divide la mezcla en 4-6 porciones y forma las hamburguesas con las manos.</li>
                                </ul>
                                <li class="principal">Cocinar las hamburguesas:</li>
                                <ul>
                                    <li>Calienta una sartén grande a fuego medio y añade el aceite de oliva.</li>
                                    <li>Cocina las hamburguesas durante 4-5 minutos por cada lado, o hasta que estén doradas y crujientes.</li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </article>
                <aside class="contenedor-aside">
                    <div class="contenedor-nutricional">
                        <div class="contenedor-ingredientes">
                            <h2 class="sub-titulo-ingredientes">Ingredientes:</h2>
                            <ol class="lista-ingredientes">
                                <ul>
                                    <li>1 taza de quinoa</li>
                                    <li>1 lata (400 g) de garbanzos cocidos, escurridos y enjuagados</li>
                                    <li>1/2 taza de pan rallado (puedes usar pan rallado integral)</li>
                                    <li>1/4 taza de cebolla picada finamente</li>
                                    <li>2 dientes de ajo picados</li>
                                    <li>1/4 taza de perejil fresco picado</li>
                                    <li>1/2 cucharadita de comino molido</li>
                                    <li>1/2 cucharadita de pimentón dulce</li>
                                    <li>Sal y pimienta al gusto</li>
                                    <li>2 cucharadas de aceite de oliva (para cocinar)</li>
                                </ul>
                            </ol>
                        </div>
                        <div class="contenido-nutricional">
                            <h2 class="sub-titulo-contenido-nutricional">Valor Nutricional</h2>
                            <table>
                                <tr>
                                  <td>Calorias</td>
                                  <td>250kcal</td>
                                <tr>
                                  <td>Carbohidratos</td>
                                  <td>35g</td>
                                </tr>
                                <tr>
                                  <td>Proteinas</td>
                                  <td>8g</td>
                                </tr>
                                </tr>
                                <tr>
                                  <td>Grasas</td>
                                  <td>8g</td>
                                </tr>
                              </table>
                        </div>
                    </div>
                    <div class="contenedor-otros">
                        <h2 class="titulo-mas-recetas">Más Recetas</h2>
                        <a href="./vistaPastaDeCalabacin.html">
                            <div class="receta">
                                <div class="contenedor-imagen-receta">
                                    <img class="imagen-receta" src="../assets/espaguetis.jpeg" alt="Pasta de Calabacín con Pesto de Albahaca y Almendras">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Pasta de Calabacín con Pesto de Albahaca y Almendras</h3>
                                    <p class="texto-receta">Espirales de calabacín con pesto casero de albahaca y almendras, una opción ligera y sin gluten.</p>
                                </div>
                            </div>
                        </a>
                        <a href="./vistaRamenDePollo.html">
                            <div class="receta">
                                <div class="contenedor-imagen-receta">
                                    <img class="imagen-receta"  src="../assets/ramenConPollo.jpeg" alt="Ramen de Pollo con Jengibre y Ajo">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Ramen de Pollo con Jengibre y Ajo</h3>
                                    <p class="texto-receta">Ramen casero con un caldo sabroso, trozos de pollo, jengibre, ajo, y vegetales frescos.</p>
                                </div>
                            </div>
                        </a>
                        <a href="./vistaTacosDeColiflor.html">
                            <div class="receta-ultima">
                                <div class="contenedor-imagen-receta">
                                <img class="imagen-receta"  src="../assets/tacosColiflor.webp" alt="Tacos de Coliflor con Salsa de Aguacate y Cilantro">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Tacos de Coliflor con Salsa de Aguacate y Cilantro</h3>
                                    <p class="texto-receta">Tacos vegetarianos crujientes con coliflor asada y una salsa cremosa de aguacate y cilantro.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </aside>
            </main>
        </nav>
        <footer>
            <div class="contenido-footer">
                <a href="../index.html">
                    <img class="logo" src="../assets/logo_bitcook.png" alt="Logo BitCook">
                </a>
                <img class="img-copyright" src="../assets/copyright.png" alt="Copyright">
            </div>
        </footer>
    </div>
</body>
</html>