<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleRecetas.css">
    <title>Receta Pasta De Calabacín Con Pesto De Albahaca Y Almendras</title>
</head>
<body>
    <div class="contenedor-principal">
        <header class="encabezado">
            <a href="../index.html">
                <img class="logo" src="../assets/logo_bitcook.png" alt="Logo BitCook">
            </a>
            <a class="link-encabezado" href="./formulario.html">Envia Tú Receta...</a>
            <button class="btn-activar-modo-oscuro"><img class="img-modoOscuro" src="../assets/luna.svg" alt="Boton modo Oscuro"></button>
        </header>
        <nav>
            <main>
                <article class="contenedor-info-principal">
                    <figure class="contenedor-imagen">
                        <img class="img-ensalada" src="../assets/espaguetis.jpeg" alt="Imagen Pasta De Calabacín Con Pesto De Albahaca Y Almendras">
                    </figure>
                    <div class="contenedor-info-secundario">
                        <div class="contenedor-info-encabezado contedor-info">
                            <h1 class="titulo-contenido-principal">Pasta De Calabacín Con Pesto De Albahaca Y Almendras</h1>
                            <p class="parrafo-contenido-principal">La Pasta de Calabacín con Pesto de Albahaca y Almendras es una opción ligera y saludable que sustituye la pasta tradicional por tiras de calabacín, también conocidas como "zoodles". El pesto, elaborado con albahaca fresca, almendras y ajo, aporta un sabor vibrante y fresco. Es ideal para una comida rápida y nutritiva, llena de ingredientes frescos y naturales.</p>
                        </div>
                        <div class="contenedor-info-tiempo-preparacion contedor-info">
                            <div class="contenido-info-tiempo-preparacion">
                                <h3 class="sub-titulo-tiempo-preparacion">Tiempo de Preparación:</h3>
                                <ul class="lista-tiempo-preparacion">
                                    <li>Preparación de ingredientes: 10 minutos</li>
                                    <li>Cocción: 5 minutos</li>
                                    <li>Tiempo total: 15 minutos</li>
                                </ul>
                            </div>
                        </div>
                        <div class="contenedor-info-preparacion contedor-info">
                            <h2 class="sub-titulo-preparacion">Preparación:</h2>
                            <ol class="lista-preparacion">
                                <li class="principal">Preparar los zoodles:</li>
                                <ul>
                                    <li>Lava los calabacines y córtalos en tiras finas usando un espiralizador, un pelador o un cuchillo. Reserva.</li>
                                </ul>
                                <li class="principal">Hacer el pesto:</li>
                                <ul>
                                    <li>En una licuadora o procesador de alimentos, combina la albahaca, almendras, ajo y queso parmesano. Mezcla mientras agregas gradualmente el aceite de oliva hasta obtener una textura suave. Sazona con sal, pimienta y, si deseas, un poco de jugo de limón.</li>
                                </ul>
                                <li class="principal">Cocinar los zoodles:</li>
                                <ul>
                                    <li>Calienta una sartén grande a fuego medio con un poco de aceite de oliva. Añade los zoodles y cocina por 2-3 minutos hasta que estén ligeramente tiernos, pero no demasiado blandos.</li>
                                </ul>
                                <li class="principal">Mezclar y servir:</li>
                                <ul>
                                    <li>Añade el pesto a la sartén con los zoodles y mezcla bien para cubrir uniformemente. Cocina por 1-2 minutos adicionales. Sirve inmediatamente.</li>
                                </ul>
                            </ol>
                        </div>
                    </div>
                </article>
                <aside class="contenedor-aside">
                    <div class="contenedor-nutricional">
                        <div class="contenedor-ingredientes">
                            <h2 class="sub-titulo-ingredientes">Ingredientes:</h2>
                            <ol class="lista-ingredientes">
                                <ul>
                                    <li>2 calabacines medianos</li>
                                    <li>1 taza de albahaca fresca</li>
                                    <li>1/4 taza de almendras (pueden ser tostadas o naturales)</li>
                                    <li>1 diente de ajo</li>
                                    <li>1/4 taza de queso parmesano rallado</li>
                                    <li>1/4 taza de aceite de oliva virgen extra</li>
                                    <li>Sal y pimienta al gusto</li>
                                    <li>Jugo de medio limón (opcional)</li>
                                </ul>
                            </ol>
                        </div>
                        <div class="contenido-nutricional">
                            <h2 class="sub-titulo-contenido-nutricional">Valor Nutricional</h2>
                            <table>
                                <tr>
                                  <td>Calorias</td>
                                  <td>320kcal</td>
                                <tr>
                                  <td>Carbohidratos</td>
                                  <td>10g</td>
                                </tr>
                                <tr>
                                  <td>Proteinas</td>
                                  <td>8g</td>
                                </tr>
                                </tr>
                                <tr>
                                  <td>Grasas</td>
                                  <td>28g</td>
                                </tr>
                              </table>
                        </div>
                    </div>
                    <div class="contenedor-otros">
                        <h2 class="titulo-mas-recetas">Más Recetas</h2>
                        <a href="./vistaTacosDeColiflor.html">
                            <div class="receta">
                                <div class="contenedor-imagen-receta">
                                    <img class="imagen-receta" src="../assets/tacosColiflor.webp" alt="Tacos de Coliflor con Salsa de Aguacate y Cilantro">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Tacos de Coliflor con Salsa de Aguacate y Cilantro</h3>
                                    <p class="texto-receta">Tacos vegetarianos crujientes con coliflor asada y una salsa cremosa de aguacate y cilantro.</p>
                                </div>
                            </div>
                        </a>
                        <a href="./vistaRamenDePollo.html">
                            <div class="receta">
                                <div class="contenedor-imagen-receta">
                                    <img class="imagen-receta"  src="../assets/ramenConPollo.jpeg" alt="Ramen de Pollo con Jengibre y Ajo">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Ramen de Pollo con Jengibre y Ajo</h3>
                                    <p class="texto-receta">Ramen casero con un caldo sabroso, trozos de pollo, jengibre, ajo, y vegetales frescos.</p>
                                </div>
                            </div>
                        </a>
                        <a href="./vistaEnsaladaDeQuinoa.html">
                            <div class="receta-ultima">
                                <div class="contenedor-imagen-receta">
                                <img class="imagen-receta"  src="../assets/ensalada.jpg" alt="Ensalada de Quinoa y Kale con Vinagreta de Mango y Lima">
                                </div>
                                <div class="contenido-receta">
                                    <h3 class="titulo-recetas">Ensalada de Quinoa y Kale con Vinagreta de Mango y Lima</h3>
                                    <p class="texto-receta">Ensalada fresca de quinoa y kale con una vinagreta dulce y cítrica de mango y lima. Perfecta para una comida ligera y nutritiva.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </aside>
            </main>
        </nav>
        <footer>
            <div class="contenido-footer">
                <a href="../index.html">
                    <img class="logo" src="../assets/logo_bitcook.png" alt="Logo BitCook">
                </a>
                <img class="img-copyright" src="../assets/copyright.png" alt="Copyright">
            </div>
        </footer>
    </div>
</body>
</html>